[submodule "toolchain"]
	path = toolchain
	url = https://github.com/macmade/XEOS-toolchain.git
[submodule "tools"]
	path = tools
	url = https://github.com/macmade/XEOS-tools.git
[submodule "source/lib"]
	path = source/lib
	url = https://github.com/macmade/XEOS-lib.git
[submodule "source/core"]
	path = source/core
	url = https://github.com/macmade/XEOS-core.git
[submodule "make"]
	path = make
	url = https://github.com/macmade/XEOS-makefile.git
[submodule "source/modules"]
	path = source/modules
	url = https://github.com/macmade/XEOS-modules.git
[submodule "source/boot"]
	path = source/boot
	url = https://github.com/macmade/XEOS-boot.git
